* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1.2;
}

body {
  background-color: #ffffff;
  font-style: normal;
  font-size: 1rem;
  max-width: 480px;
  margin: 0 auto;
}
.section {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  color: #151618;
  min-height: 600px;
  max-height: 1200px;
  padding: 0 10px 0 10px;
}
/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.header-wrap-left {
  display: flex;
  align-items: center;
  width: 54%;
  justify-content: space-between;
}

.header-wrap-right {
  display: flex;
  gap: 50px;
}
.header-wrapper-inner img:not(:first-child) {
  margin-left: 15px;
}

/* end header */

/* logo section */
.logo {
  position: relative;
}
.logo-box {
  position: absolute;
  top: 46%;
  left: 2%;
}
.logo__h2 {
  font-weight: 400;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.2;
}
.logo__h3 {
  font-weight: 400;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.2;
  padding-top: 20px;
}
.logo__img {
  object-fit: cover;
}
.logo__p {
  font-family: "Open Sans", serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 12%;
  color: #151618;
  line-height: 1.4;
}

/* end logo section */

/* collection section */

.collection {
  background-color: #ffffff;
}
.collection__h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 13%;
}
.collection__wrap-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6%;
}
.collection__h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 3%;
}
/*  end collection section */

/* clients section */
.clients {
  background-color: #f7f2ea;
  margin-top: 13%;
}
.clients__h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 28px;
}
.clients__wrap-article {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
}
.clients__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  padding-top: 22px;
}
.article__p {
  font-family: "Open Sans", serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.35;
}
.article_cite {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 600;
}

/* end clients section */

/* blog section */
.blog {
  background-color: #ffffff;
  color: #151618;
}
.blog__h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  padding-top: 44px;
  padding-bottom: 61px;
}
.blog__wrap-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog__item {
  display: flex;
}
.blog__item-descrition {
  position: relative;
  padding-left: 20px;
}
.blog__h3 {
  font-weight: 400;
  font-size: 1.5rem;
}
.blog__p {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 0.8125rem;
  padding-top: 11px;
}
.blog__a {
  position: absolute;
  cursor: pointer;
  left: 20px;
  bottom: 0;
  text-decoration: none;
  color: #151618;
}

.blog__btn {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 1.25rem;
  background-color: #ffffff;
  padding: 10px 40px 10px 40px;
  border: #151618 solid 1px;
  display: block;
  margin: 61px auto;
}
/* end blog section */
